<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  <main>
    <div class="row py-md-5 text-center justify-content-center">

      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 position-relative home-title">
          Thoughts...let's organize them to get our work done.
        </h1>
        <p class="fs-4 mb-4">
          This application is the place to store your thoughts. Don't let them go to waste. Come back to them and even add comments. Create an account to get started. 
        </p>
        <a href="/auth/google" class="btn btn-primary btn-lg">Try Thoughts</a>

      </div>

    </div>
  </main>
</div>